@model Web.Areas.TDKTDangKyDanhHieuArea.Models.CaNhanDangKyViewModel

@foreach (var danhieu in Model.LstDanhHieuCaNhanModel)
{
    <div class="panel panel-default">
        <div class="panel-heading">@danhieu.DANHHIEUTHIDUA</div>
        <div class="panel-body">

        </div>
    </div>
}