@using Business.CommonBusiness;
@using Web.FwCore;
@using Model.eAita;
@using Web.Areas.TDKTDangKyDanhHieuArea.Models;
@model Web.Areas.TDKTDangKyDanhHieuArea.Models.CaNhanDangKyViewModel
@{

    var grid = new WebGrid(Model.LstDonDangKyCaNhan,
             rowsPerPage: 10,
             canPage: true,
             canSort: true,
             ajaxUpdateContainerId: "grid",
             selectionFieldName: "selectedRow"
               );

}
<style>
    .btnCheckCondition {
        background: rgba(0, 0, 0, 0) url("/Content/Images/btn_global-changes_bg.gif") no-repeat scroll 0 0;
        display: block;
        height: 16px;
        margin: 0 auto;
        width: 16px;
    }
</style>
<div class="row">
    <table class="webGrid">
        <thead>
            <tr class="head">
                <th scope="col" style="width:50%"></th>
                <th scope="col"></th>                
            </tr>
        </thead>
        <tbody id="UpLoadFile">
            <tr id="UpLoadFile_file_1">
                <td>
                    <label>
                        Danh sách tổng hợp cá nhân đăng ký thi đua
                    </label>
                </td>
                <td>
                    <a href="/TDKTDangKyDanhHieuArea/DanhSachThiDuaDonVi/ExportDanhSach/@Model.PhongTraoId">
                        Tải về
                    </a>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
@*<div class="col-sm-12">
    <h3>
        Danh sách cá nhân đăng ký thi đua
    </h3>
</div>*@
<div id="grid">
    @grid.GetHtml(
                tableStyle: "webGrid",
                headerStyle: "head",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                 mode: WebGridPagerModes.All | WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious | WebGridPagerModes.Numeric,
                columns: grid.Columns(                        
                grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, style: "center"),
                grid.Column(format: (item) =>
                    {
                        var PhongTrao = Model.LstPhongTraoThiDua.Where(x => x.Value == item.PHONG_TRAO_ID.ToString()).FirstOrDefault();
                        return new MvcHtmlString(string.Format(
                        "<a href='/TDKTDangKyDanhHieuArea/CaNhanDangKy/ViewDetail/" + item.ID + "' >" + PhongTrao.Text + "</a>"));
                    }
                    , header: "Phong trào thi đua", style: "left"),
                            grid.Column(format: (item) => item.HO_TEN, header: "Người đăng ký", style: "left"),
                                            grid.Column(format: (item) => item.DON_VI, header: "Đơn vị", style: "left"),
                        grid.Column("NGAYDANGKY", format: (item) => new MvcHtmlString(string.Format("<span style='font-weight:bold'>" + string.Format("{0:dd/MM/yyyy}", item.NGAYDANGKY) + "</span>")), header: "Ngày đăng ký", style: "left"),
                        grid.Column(format: (item) => new MvcHtmlString(string.Format(
                                           "<a href='/TDKTPhongTraoThiDuaArea/PhongTraoThiDua/ViewDonDangKyThiDua/" + item.ID + "' class='btnDocument' title = 'Đơn đăng ký thi đua'></a>")), header: "Đơn đăng ký thi đua"),
                            grid.Column(format: (item) => new MvcHtmlString(string.Format(
                                                                   "<a href='javascript:checkDieuKien(" + item.ID + ")' class='btnCheckCondition' title = 'Kiểm tra điều kiện đạt danh hiệu'></a>")), header: "Kiểm tra điều kiện đạt danh hiệu")
                )
    )
</div>
