@model Web.Areas.TDKTDangKyDanhHieuArea.Models.CaNhanDangKyViewModel

@foreach (var danhieu in Model.LstDanhHieuCaNhanModel)
{
    <div class="panel panel-default">
        <div class="panel-heading">@danhieu.DANHHIEUTHIDUA</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>                   
                </tbody>
            </table>
        </div>
    </div>
}