<div id="menu-middle-left" class="left-all-page">


    <div id="block-search-form">
        <form id="search-form" action="" method="post" novalidate="novalidate">
            <input type="text" id="" name="TRICHYEU" value="" placeholder="" style="width:82%">
            <input type="submit" id="" name="" value="search">
        </form>
    </div>
    <div class="left-content block">
        <ul class="admin-menu">
            <li style="z-index:10" class="menu">
                <a data-parent="6" id="ico-5" href="/TDKTPhongTraoThiDuaArea/PhongTraoThiDua" ">Phong trào thi đua khen thưởng</a>
            </li>
            <li style="z-index:10" class="menu">
                <a data-parent="21" id="ico-2" href="/TDKTDangKyDanhHieuArea/CaNhanDangKy/Create" ">Đơn đăng ký thi đua của tôi</a>
            </li>
            <li style="z-index:10" class="menu">
                <a data-parent="21" id="ico-2" href="/TDKTDangKyDanhHieuArea/CaNhanDangKy/Create" ">Đăng ký thi đua cá nhân</a>
            </li>
        </ul>
    </div>
</div>
