<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUYNT-PC\SQLEXPRESS;initial catalog=eAita;persist security info=True;user id=eaitaadmin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL-PC\SQLEXPRESS;initial catalog=eBiz;user id=ebizadmin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.30.149.22;initial catalog=ebiz_vnio;user id=egovdemo;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1AB3BIO\HOANVU;initial catalog=ToolSeoV1;user id=admin_tool;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="Entities" connectionString="metadata=res://*/DBTool.Model.csdl|res://*/DBTool.Model.ssdl|res://*/DBTool.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1AB3BIO\HOANVU;initial catalog=ToolSeoV1;persist security info=True;user id=admin_tool;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>