@{
    ViewBag.Title = "_DownloadTaiNguyen";
}
<style>
    .download-items {
        border: 1px solid #add8f9;
        border-radius: 5px;        
        background: #d2e8f9;
        margin-bottom:2px;
        /*padding: 10px;
        margin-bottom: 3px;*/
    }

        .download-items input:focus {
            outline: none;
        }

        .download-items input::-moz-focus-inner {
            border: 0;
        }
</style>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Phần mềm Hỗ trợ chấm</span><br />
                <span style="color: gray; font-size: 11px">21/05/2015</span><br />
                <span style="font-size: 11px;font-style:italic">Thầy/Cô vui lòng cài đặt phiên bản Office 2007 khi dùng phần mềm</span>
            </td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/ToolHoTroCham.rar';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Net Framework 3.5</span><br />
                <span style="color: gray; font-size: 11px">18/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/dotnetfx35.exe';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Download bộ gõ unicode hỗ trợ Font dân tộc</span><br />
                <span style="color: gray; font-size: 11px">24/04/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/VnKey.rar';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Bộ cài Unikey</span><br />
                <span style="color: gray; font-size: 11px">11/04/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/Unikey.zip';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Danh mục Tỉnh/Tp, Quận/Huyện và Xã khó khăn (sheet1), danh mục Trường PTTH (sheet2)</span><br />
                <span style="color: gray; font-size: 11px">07/04/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/Danh_muc_chuan.xls';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>
<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Video hướng dẫn nhập ảnh thí sinh <br /> <a style="color:#0919bb" href="https://youtu.be/eN8FeU40d2A" target="_blank">https://youtu.be/eN8FeU40d2A</a><br />(thầy/cô thoát VPN để xem được)</span><br />
                <span style="color: gray; font-size: 11px">07/04/2015</span></td>
            <td>
                </td>
        </tr>
    </table>
</div>
<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Video hướng dẫn thí sinh báo sai sót <br /> <a style="color:#0919bb" href="https://youtu.be/7LFqQnqN2EU" target="_blank">https://youtu.be/7LFqQnqN2EU</a><br />(thầy/cô thoát VPN để xem được)</span><br />
                <span style="color: gray; font-size: 11px">07/04/2015</span></td>
            <td>
                </td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Đầu mối kỹ thuật hỗ trợ trực tiếp</span><br />
                <span style="color: gray; font-size: 11px">23/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/QLT_Dau_moi_ho_tro_truc_tiep.xlsx';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Phần mềm Hỗ trợ nhập ảnh (Điểm tiếp nhận hồ sơ ĐKDT)</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/ToolImage.rar';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>



<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Bộ cài VPN</span><br />
                <span style="color: gray; font-size: 11px">18/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/FileCaiDatVPN.rar';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>
<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/rar-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Slide tổng quan hệ thống</span><br />
                <span style="color: gray; font-size: 11px">18/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/SlideHTQLT.pdf';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>
<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Tài liệu Hướng dẫn sử dụng cấp Điểm Tiếp nhận hồ sơ ĐKDT</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/DiemTiepNhan_HDSD.doc';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>
<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Tài liệu Hướng dẫn sử dụng cấp Sở GD&ĐT</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/SoGiaoDuc_HDSD.doc';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Tài liệu Hướng dẫn sử dụng cấp Hội đồng thi (Cụm thi)</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/Tochucthi_HDSD_Cum_Luong.doc';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Biểu mẫu tạo dữ liệu thí sinh mẫu để tổ chức thi</span><br />
                <span style="color: gray; font-size: 11px">23/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/QLT_Template_tao_du_lieu_thi_sinh.xlsx';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>



<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Danh sách thí sinh vi phạm quy chế</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/T9.2_Danh sach vi pham QC.doc';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>

<div class="download-items">
    <table>
        <tr>
            <td style="width: 90px">
                <img src="/Content/Images/Document-help-icon.png" width="60" alt="ImageName"></td>
            <td style="width: 425px"><span style="font-weight: bold;">Danh sách cán bộ vi phạm quy chế</span><br />
                <span style="color: gray; font-size: 11px">07/03/2015</span></td>
            <td>
                <input type="button" onclick="window.location.href = '/Content/Custom/T10_Danh sach can bo vi pham quy che.doc';" style="padding: 9px 0; width: 140px; font-size: 14px;" value="Tải về" /></td>
        </tr>
    </table>
</div>


