<ul>
    <li class="menu"><a href="/TruongHopBenhArea/GhiNhanTruongHopBenh" id="m-0" class="active">Nhập báo cáo THB</a></li>
    <li class="menu"><a href="/PhanHoiTHBArea/PhanHoiTHB" id="m-1">Danh sách THB cần phản hồi</a></li>
    <li class="menu"><a href="/BaoCaoSoLieuArea/BaoCaoSoLieu" id="m-2">Báo cáo số liệu</a></li>
    <li class="menu"><a href="/QuanLyDanhMucArea/QuanLyDanhMuc" id="m-2">Quản lý danh mục</a></li>
    <li class="menu"><a href="#" id="m-3">Đào tạo và hỗ trợ</a></li>
</ul>
