@model Web.Areas.QuanLyNangLuongTruocThoiHanArea.Models.NangLuongViewModel
<div id="menu-middle-left" class="left-all-page">


    <div id="block-search-form">
        <form id="search-form" action="" method="post" novalidate="novalidate">
            <input type="text" id="" name="TRICHYEU" value="" placeholder="" style="width:82%">
            <input type="submit" id="" name="" value="search">
        </form>
    </div>
    <div class="left-content block">
        <ul class="admin-menu">            
            <li style="z-index:10" class="menu">
                <a data-parent="6" id="ico-5" href="/QuanLyNangLuongTruocThoiHanArea/QuanLyNangLuongTruocThoiHan/Personal" class="@(ViewBag.active == 5 ? "admin-menu-active":"")">Đơn xin nâng lương trước thời hạn của tôi</a>
            </li>
            <li style="z-index:10" class="menu">
                <a data-parent="21" id="ico-2" href="/QuanLyNangLuongTruocThoiHanArea/QuanLyNangLuongTruocThoiHan/Create" class="@(ViewBag.active == 2 ? "admin-menu-active":"")">Đề xuất nâng lương trước thời hạn</a>
            </li>
            <li style="z-index:10" class="menu">
                <a data-parent="15" id="ico-4" href="/" class="">Trang chủ</a>
            </li>

        </ul>
    </div>
</div>
