@{
    string SearchType = "Index";
    if (ViewData["SearchType"] != null)
    {
        SearchType = ViewData["SearchType"].ToString();
    }
}
<style>
    #smart-dms h1 {
        font-size: 20px !important;
    }
</style>
<div id="menu-toolbar">
    <div class="left-all-page">
        <div class="block" id="smart-dms">
            <h1>THI ĐUA KHEN THƯỞNG</h1>
        </div>
    </div>
    <div class="right-all-page" style="background:none; border:none;">
        <div id="menu-child">
            <div class="menu-left" style="display:inline-block">
            </div>
            <div class="menu-right">
                <div class="right">
                </div>
            </div>
        </div>
    </div>
</div>