<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--<dataCacheClient requestTimeout="5000" channelOpenTimeout="3000" maxConnectionsToServer="3">
    <hosts>
      <host name="10.60.15.108" cachePort="8080" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456"
                         maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="60000"
                         receiveTimeout="600000" />
  </dataCacheClient>-->

  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL-PC\SQLEXPRESS;initial catalog=eBiz;user id=ebizadmin;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.30.149.22;initial catalog=ebiz_vnio;user id=egovdemo;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/eAita.Model.csdl|res://*/eAita.Model.ssdl|res://*/eAita.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.11;initial catalog=CHICUCTHUE;user id=admin_cucthue;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/DBTool.Model.csdl|res://*/DBTool.Model.ssdl|res://*/DBTool.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1AB3BIO\HOANVU;initial catalog=ToolSeoV1;persist security info=True;user id=admin_tool;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\ErosLog_eAita\Logs.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="3MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="TKGD_ONLINE">
      <level value="ALL" />
    </logger>
  </log4net>
  <appSettings>
    <add key="ACCOUNT_MAIL" value="openlandhinet@gmail.com" />
     <add key="HOST_WEB_UPLOAD" value="http://localhost:8050/uploads" />
    <add key="PASS_MAIL" value="hinet123" />
    <add key="HOST_WEB" value="http://localhost:8019/" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HSCBFileUpload" value="~/Uploads/HscbFile" />
    <add key="HSCBAvatar" value="~/Uploads/Images/Avatar/" />
    <add key="FileUpload" value="F:\ThucTapHiNet\SVNChiCucThue06-10-2017\source\eAita_Web\Web\Uploads" />    
    <add key="WorkFlowStepIconContextPath" value="/Content/Images/workflow" />
    <add key="TAISAN_FileExtension" value=".jpg,.pdf,.png,.doc,.zip,.rar,.docx,.xls,.xlsx" />
    <add key="TAISAN_FileSize" value="20971520" />
    <add key="TMLTExtension" value=".jpg,.pdf,.png,.doc,.rar,.xlsx,.docx,.mp3,.wmv,.ppt,.zip,.jpeg,.mp4,.doc,.html,.pps,.pptx,.xls,.7z,.zip,.pot,.txt" />
    <add key="TMLTMaxSize" value="50971520" />
    <add key="NANGLUONGTTH_FileAllowUpload" value=".doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="NANGLUONGTTH_MaxSizeUpload" value="20971520" />
    <add key="CONGVIEC_FileAllowUpload" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="CONGVIEC_MaxSizeUpload" value="20971520" />
    <add key="VANBANDI_FileAllowUpload" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="VANBANDI_MaxSizeUpload" value="20971520" />
    <add key="VANBANDEN_FileAllowUpload" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="VANBANDEN_MaxSizeUpload" value="20971520" />
    <add key="FileExtension" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="FileSize" value="20971520" />
    <add key="NLTXExtension" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <add key="NLTXMaxSize" value="20971520" />
    <add key="NPMaxsize" value="20971520" />
    <add key="NPExtension" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.rar" />
    <!--Đoàn vào đoàn ra-->
    <add key="DOANRA_FileExtension" value=".jpg,.pdf,.png,.doc,.zip,.rar,.docx,.xlsx,.xls,.html,.pptx,.txt" />
    <add key="DOANRA_FileSize" value="20971520" />
    <add key="DOANVAO_FileExtension" value=".jpg,.pdf,.png,.doc,.zip,.rar,.docx,.xlsx,.xls,.html,.pptx,.txt" />
    <add key="DOANVAO_FileSize" value="20971520" />
    <!--end-->
    <add key="HSCB_FileAllowUpload" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.zar" />
    <add key="HSCB_MaxSizeUpload" value="20971520" />
    <add key="DTPLExtension" value=".jpg,.pdf,.png,.doc,.rar,.xlsx,.docx,.mp3,.wmv,.ppt,.zip,.jpeg,.mp4" />
    <add key="DTPLMaxsize" value="31457280" />
    <add key="BieuMauExtension" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt" />
    <add key="BieuMauMaxsize" value="20971520" />
    <add key="TDKT_FileAllowUpload" value=".doc,.docx,.xls,.xlsx,.zip,.zar" />
    <add key="TDKT_MaxSizeUpload" value="20971520" />
    <add key="BieuMauExtension" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt" />
    <add key="SangKienExtension" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt" />
    <add key="BieuMauMaxsize" value="20971520" />
    <add key="SangKienMaxsize" value="20971520" />
    <add key="TDKT_FileAllowUpload" value=".doc,.docx,.xls,.xlsx,.zip,.zar" />
    <add key="TDKT_MaxSizeUpload" value="20971520" />
    <add key="HTQTExtension" value=".jpg,.pdf,.png,.doc,.docx,.xls,.xlsx,.zip,.zar" />
    <add key="HTQTMaxsize" value="20971520" />
    <add key="CommonFileExtension" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx" />
    <add key="CommonFileMaxSize" value="20971520" />
    <add key="SOCKET_SERVER" value="http://127.0.0.1:3000" />
    <add key="VIPHAM_FileExtension" value=".xls,.xlsx" />
    <!-- log action -->
    <add key="MaxBulkLog" value="1" />
    <!-- End public key-->
    <add key="EncryptConnectionString" value="false" />
    <add key="SyncLDAP" value="false" />
    <add key="LdapConnection" value="Cx2jyE3SXFzEGI+OstNHOVsPwMQgDJCsZUfWqGXRnL17VwKDue7cTe+MytLvRd5t5CH7niX9LhJryPRJ9Ir9Yg==" />
    <add key="MAINTAIN" value="Hệ thống tạm dừng để nâng cấp, dự kiến sẽ hoạt động trở lại vào 21h00 25/04/2015. Bạn vui lòng quay lại sau!" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="100124" maxUrlLength="10999" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="29" slidingExpiration="true" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>

    <!--<sessionState mode="Custom" timeout="30" customProvider="AppFabricCacheSessionStoreProvider" compressionEnabled="false">
      <providers>
        <add name="AppFabricCacheSessionStoreProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="Server108"
             useBlobMode="true" sharedId="SharedApp"/>
      </providers>
    </sessionState>-->

    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="3000">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" maxUrl="10999" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.0.0" newVersion="0.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendMTSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SendMTSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://g3g4.vn:8008/smsws/services/SendMT.SendMTHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="SendMTSoap11Binding" contract="ServiceReference1.SendMTPortType" name="SendMTHttpSoap11Endpoint" />      
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Web_WebReference_WSBulkSms" serializeAs="String">
        <value>http://125.235.4.202:8985/WS</value>
      </setting>
      <setting name="LOAIVANBAN" serializeAs="String">
        <value>1:Văn bản đi, 2:Văn bản đến, 3:Văn bản dự thảo</value>
      </setting>
      <setting name="LOAIHOSO" serializeAs="String">
        <value>1:HS Văn bản đi, 2:HS Văn bản đến, 3:HS Văn bản dự thảo</value>
      </setting>
      <setting name="MAP" serializeAs="String">
        <value>1:1, 1:2, 2:1</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
</configuration>