@using Web.Common
@using Web.FwCore;
<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" role="tabpanel" style="">
    @Html.AntiForgeryToken()
    @using (Ajax.BeginForm("FindVanBanDen", "VanBanDen", new { SearchType = "Index" }, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnFailure = "failure",
            OnSuccess = "searchSuccess",
            UpdateTargetId = "grid",
        }, new { id = "frmSearh" }))
    {
        @Html.Partial("_VanBanDenSearchCore");
    }
</div>