@{
    ViewBag.Title = "Quản lý thao tác";
    Layout = "~/Views/Shared/_LayoutSmartDms.cshtml";
}
@using Web.Areas.DMThaoTacArea.Models;
@model DMThaoTacIndexViewModel

<div id="ribbon" style=" background-color:#57889c">


    <div class="col-md-6">
        <ol class="breadcrumb">
            <!-- This is auto generated -->
        </ol>
    </div>
    <!-- breadcrumb -->
    <!-- end breadcrumb -->

    <div class="col-md-6">
        <a class="btn btn-default btn-flat pull-right" href="javascript:OnCreate()">
            <i class="fa fa-plus"></i> <span>Thêm mới thao tác</span>
        </a>
    </div>
</div>
<!-- #MAIN CONTENT -->
<div id="content">
    <div class="right-all-page">

        <div class="right-content clearfix">

            <div class="SearchCriterial">
                @*@Html.Partial("_ThaoTacSearch")*@
            </div>

            <div class="SearchResult">
                @Html.Partial("_ThaoTacSearchResult", Model.ListThaoTac)
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var dataReload = [];
    $("#Keyword").change(function () {
        $("#TENTHAOTAC").val($(this).val());
    });
    function reloadGrid() {
        var TENTHAOTAC = $("#TEN_THAOTAC").val();
        var CHUCNANGCAP1 = $("#CHUCNANGCAP1").val();
        var CHUCNANGCAP2 = $("#CHUCNANGCAP2").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ReloadDataTable", "DMThaoTac")',
            cache: false,
            async: false,
            success: function (data) {
                LoadData(data);
            }
        });
    }

</script>
