@{
    ViewBag.Title = "Hướng dẫn cài đặt FireFox";
    Layout = null;
}
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/Images/Edit.png" />

    <link href="@Url.Content("~/Content/themes/smas/main.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/smas/common.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
</head>



<div style="padding: 100px;">
    <br />
    <div>Sau khi tải về bạn chạy file cài đặt </div>
    <div>
        <img src="~/Content/Images/1.jpg" />
    </div>
    <div>Bạn đợi 10-15 phút để chương trình tải về</div>
    <div>
        <img src="~/Content/Images/2.jpg" />
    </div>
    <br />
    <div>Sau khi tải xong 1 cửa sổ hiện ra bạn bấm Next đến khi xuất hiện cửa sổ finish</div>
    <div>
        <img src="~/Content/Images/3.jpg" />
    </div>
    <div>&nbsp;</div>
    <div>
        <img src="~/Content/Images/4.jpg" />
    </div>
    <div>&nbsp;</div>
    <div>
        <img src="~/Content/Images/5.jpg" />
    </div>
    <div>&nbsp;</div>
    <div>
        <img src="~/Content/Images/6.jpg" />
    </div>
    <br />
    <div>Bấm finish để kết thúc quá trình cài đặt</div>
</div>
