@{
    ViewBag.Title = "Không có quyền";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


@*<div style="width:50%;margin:auto;padding:30px 0;text-align:center;">
    <h3>Bạn không có quyền thực hiện chức năng này hoặc hiện tại đang ngoài khoảng thời gian cho phép thực hiện</h3>
</div>*@

<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false" style="text-align:center">
                <div style="margin:auto;padding:30px 0;text-align:center;">
                    <h3 style="color:red">Bạn không có quyền thực hiện chức năng này hoặc hiện tại đang ngoài khoảng thời gian cho phép thực hiện</h3>
                </div>
            </div>
        </article>
    </div>
</section>